<form action="search">
    <input name="t1" required pattern="\d{6}" > <br> <br>                                                                                                                                         
    <input name="t2" required pattern="[0-9]{3,6}" ><br> <br>                                                                                                                                                   
    <input name="t3" required pattern="[a-z]{3,6}" > <br><br>
    <input name="t4" required pattern="[a-zA-Z]{3,6}" > <br><br>
    <input name="t5" required pattern="cs-?[0-9]{0,2}" > <br><br>
    <input name="t5" required pattern="cs-?[0-9]{0,2}+" > <br><br>
    <input name="t5" required pattern="cs-?[0-9]{0,2}*" > <br><br>
    <input type="submit">
</form>